
<div class="main">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="field">            
            <p class="label">Task</p>
            <input class="input" type="text" [formControlName]="'task'"/>           
        </div>
        <div class="field">          
            <p class="label">DueDate</p>          
            <input class="input" type="text" [formControlName]="'dueDate'"/>            
        </div>
        <div class="field">           
            <p class="label">Done</p> 
            <input type="checkbox" [formControlName]="'done'"/>           
        </div>
        <div class="button">
            <button class="label" type="submit" [disabled]="!editForm.valid">Submit</button>
        </div>
    </form>
</div>
